@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    border-bottom: 1px solid grey;
    transition: all 1s;
} 


.card-1{
    background: url('./img/ps5.svg');
    width: 28rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-2{
    background: url('./img/womaninhat.svg');
    
    height: 17.75rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.card-3{
    background: url('./img/speaker.svg');
    width: 16.875rem;
    height: 17.75rem;
    background-repeat: no-repeat;
    background-position: center;
}

.card-4{
    background: url('./img/perfume.svg');
    width: 16.875rem;
    height: 17.75rem;
    background-repeat: no-repeat;
    background-position: center;
}

#scroll::-webkit-scrollbar {
    width: 5px;
    height: 10px; 
}
  
/* Track */
#scroll::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
  
/* Handle */
#scroll::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}
  
/* Handle on hover */
#scroll::-webkit-scrollbar-thumb:hover {
    background: black;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22)
}


@media only screen and (max-width: 425px){
    .card-1{
        width: 95vw;
    
    }
}

